body.blurExeptLogin {
    overflow: hidden;
}
body.blurExeptLogin > *:not(#login_form){
    -webkit-filter: blur(6px);
            filter: blur(6px);
}


#login_form{
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100%;
    background: #888888;
    background: rgba(0,0,0,0.5);
    transition: opacity .3s ease ;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: -100%;
    

}

#login_form *{
    font-family: 'Vazir';

}

body.blurExeptLogin #login_form{
    opacity: 1;
    visibility: visible;
    top: 0;
    right: 0;
    z-index: 100000000;
}

#login_form_layout{
    position: relative;
    width: 100%;
    height: 50%;
    max-width: 600px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin: 0 auto;
    border-radius: 5px;
    top: 25%;
    height: calc(400px);
    top: calc(50% - 200px);
    box-shadow: 0 0 100px rgba(80, 111, 142,.3);
    overflow: hidden;

}

.formHeader{
    width: 100%;
    height: 50px;
    position: relative;
}

.formHeader button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    text-align: center;
    background: none;
    
}
.formHeader button i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333333;
}


.formHeader button:hover i{
    color: #ff7675;
}

.formHeader h3{
    width: calc(100% - 120px);
    height: 50px;
    position: absolute;
    top: 0;
    right: 60px;
    line-height: 50px;
    text-align: center;
    background: none;
    color: #333333;
    font-size: 16px;
    
    font-family: 'Vaizr-Bold';

}

.formContent{
    width: 100%;
    height: 90%;
    height: calc(100% - 70px) ;
    margin: 10px 0;
}
.formContent .inputHolder{
    width: 70%;
    margin: 60px 15% 30px 15%;
    height: 74px;
    position: relative;

}
.formContent .inputHolder input{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: 'vazir';
    padding: 0 25px 0 55px;
    border: 2px solid #999999;
    background: #f9f9f9;
    border-radius: 5px;
    text-align: left;
    direction: ltr;
    transition: all .3s;
}
.formContent .inputHolder input::-webkit-input-placeholder{
    color: #999999;
    text-align: right;
    direction: rtl;
}
.formContent .inputHolder input::-moz-placeholder{
    color: #999999;
    text-align: right;
    direction: rtl;
}
.formContent .inputHolder input:-ms-input-placeholder{
    color: #999999;
    text-align: right;
    direction: rtl;
}
.formContent .inputHolder input::-ms-input-placeholder{
    color: #999999;
    text-align: right;
    direction: rtl;
}
.formContent .inputHolder input::placeholder{
    color: #999999;
    text-align: right;
    direction: rtl;
}
.formContent .inputHolder input:focus{
    background: #fdfdfd;
    border: 2px solid #506f8e;
}


.formContent .inputHolder .alert_input{
    border: 2px solid #f74345 !important;
}
.formContent .inputHolder .alert_input ~ span{
    color:  #f74345 !important;
}


.formContent .inputHolder .alert_sucssus{
    border: 2px solid #3DBE29 !important;
}
.formContent .inputHolder .alert_sucssus ~ span{
    color:  #3DBE29 !important;
}

.formContent .inputHolder .alert_input ~ label{
    background:  #f74345 !important;
}

.formContent .inputHolder .alert_sucssus ~ label{
    background:  #3DBE29 !important;
}


.formContent .inputHolder label{
    position: absolute;
    top : 10px;
    left: 10px;
    color: #fdfdfd;
    height: 30px;
    line-height: 30px;
    direction: ltr;
    border-radius: 5px;
    background: #999999;
    width: 40px;
    text-align: center;
    transition: all .3s;
}

.formContent .inputHolder input:focus + label{
    background:  #506f8e;
}
.formContent .inputHolder .status_type{
    position: absolute;
    top: 55px;
    right: 5px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color: #999999;

}


.formContent .button_Holder{
    width: 70%;
    margin: 0 15%;
    text-align: center;
    position: relative;

}

.formContent .button_Holder h3{
    color: #999999;
    font-weight: 100;
    font-family: 'Vazir';
    text-align: justify;
    line-height: 1.5;
    font-size: .875rem;
    margin-top: 55px
}

.formContent .button_Holder button{
    height: 42px;
    background: #999999;
    text-align: center;
    color: #fdfdfd;
    padding: 0 20px;
    border-radius: 5px;
    margin-top: 55px;

}

.formContent .button_Holder button:hover{
    background: #506f8e;
}

.editPhoneNumber{
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem !important;
    margin-top: 0 !important;
    padding: 0 !important;
    background: none !important;
    color: #333333 !important;
    font-size:.875rem;
    
}

.editPhoneNumber:hover{
    color: #FF6263 !important;
}
.formContent .button_Holder .loading{
    width: 24px;
    height: 24px;
    margin: 0 auto;
    margin-top: 84px;
    opacity: .5;
}
.formContent .button_Holder .loading img{
    width: 100%;
    height: 100%;
}

